@model ShawInterviewExercise.Web.Models.Show

@{
    ViewBag.Title = "Delete Show";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Show</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageFile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageFile)
        <br />
        <img id="showsImage" src="/Images/@Html.DisplayFor(model => model.ImageGuid)" alt=""  />
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VideoUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VideoUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Enabled)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Enabled)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShowDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShowDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Memo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Memo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdatedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedBy)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

